<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nnoboa.duchess">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.editors.ReminderEditorActivity"
            android:label="Add a Reminder"
            android:parentActivityName=".activities.ReminderActivity">
        </activity>
        <activity
            android:name=".activities.editors.ScheduleEditorActivity"
            android:label="Add a Schedule"
            android:parentActivityName=".activities.ScheduleActivity" />
        <activity android:name=".activities.ScheduleActivity"
            android:label="Schedules"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".activities.ReminderActivity"
            android:label="Reminders"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.AlarmProvider"
            android:authorities="com.nnoboa.duchess.schedules"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:authorities="com.nnoboa.duchess.flash"
            android:name=".data.FlashProvider"
            android:exported="false"/>

        <service
            android:name=".controllers.alarm.AlarmJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".controllers.alarm.RingTonePlayingService"
            android:enabled="true"/>

        <receiver android:name=".controllers.alarm.AlarmReceiver"/>
        <service android:name=".controllers.alarm.JobRingtonePlayingService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

    </application>

</manifest>